.grid {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
}

.grid div {
  width: 20px;
  height: 20px;
}

.dot {
  background-color: gold;
  border: 5px solid black;
  box-sizing: border-box;
}

.wall {
  background-color: navy;
}

.powerPellet {
  background-color: goldenrod;
  border-radius: 10px;
}

.path {
  background-color: black;
}

.pacMan {
  background-color: yellow;
  border-radius: 10px;
}

.ghostLair {
  background-color: gray;
}

.blinky {
  background-color: red;
  border: 0px;
}

.pinky {
  background-color: pink;
  border: 0px;
}

.inky {
  background-color: cyan;
  border: 0px;
}

.clyde {
  background-color: orange;
  border: 0px;
}

.scaredGhost {
  background-color: aquamarine;
  border: 0px;
}
