* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
section {
  width: 100%;
  padding: 1em;
  display: flex;
  height: 480px;
}
canvas {
  background-color: rgba(34, 34, 34, 0.158);
  width: 600px;
  height: 660px;
  border: 1px solid black;
}
